.teamWorkMain {
    width: 84%;
    height: 340px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
}

.teamWorkInfo {
    width: 470px;
    height: 207px;
    max-height: 340px;
    position: relative;
    margin-top: 25px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #F49A0D;
}

.square {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: -25px;
    background-color: #54187D;
    border-radius: 5px;
}

.text {
    width: 370px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #54187D;
}
.span{
    color: #F49A0D;
}
@media screen and (max-width:1270px){
    .img img{
        width: 480px;
        height: 300px;
    }
    .teamWorkInfo{
        width: 400px;
    }
    .text{
        width: 295px;
        font-size: 21px;
    }
}
@media screen and (max-width:1140px){
    .teamWorkInfo{
        width: 350px;
        margin-right: 0px;
    }
}
@media screen and (max-width:1024px){
    .img img{
        width: 328px;
        height: 220px;
    }
    .teamWorkInfo{
        width: 300px;
        height: 170px;
    }
    .text{
        width: 276px;
        margin-left: 20px;
        font-size: 19px;
        line-height: 27px;

    }
    .square{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:768px){
    .img img{
        width: 288px;
        height: 220px;
    }
    .teamWorkInfo{
        width: 240px;
        height: 120px;
    }
    .text{
        width: 209px;
        font-size: 15px;
        line-height: 20px;
    }
    .square{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 660px) {
    .teamWorkMain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teamWorkInfo {
        width: 80%;
    }
    .img {
        width: 80%;
        margin-bottom: 20px;
    }
    .img img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 510px) {
    .teamWorkInfo {
        width: 100%;
    }
    .img {
        width: 100%;
        margin-bottom: 20px;
    }
    .img img {
        width: 100%;
        height: auto;
    }
}
